- page_title _('Pipelines')
- add_page_specific_style 'page_bundles/pipelines'
- add_page_specific_style 'page_bundles/ci_status'

= render_if_exists "shared/shared_runners_minutes_limit_flash_message"

#pipelines-list-vue{ data: { endpoint: project_pipelines_path(@project, format: :json),
  project_id: @project.id,
  params: params.to_json,
  "help-page-path" => help_page_path('ci/quick_start/README'),
  "pipeline-schedule-url" => pipeline_schedules_path(@project),
  "empty-state-svg-path" => image_path('illustrations/pipelines_empty.svg'),
  "error-state-svg-path" => image_path('illustrations/pipelines_failed.svg'),
  "no-pipelines-svg-path" => image_path('illustrations/pipelines_pending.svg'),
  "can-create-pipeline" => can?(current_user, :create_pipeline, @project).to_s,
  "new-pipeline-path" => can?(current_user, :create_pipeline, @project) && new_project_pipeline_path(@project),
  "ci-lint-path" => can?(current_user, :create_pipeline, @project) && project_ci_lint_path(@project),
  "reset-cache-path" => can?(current_user, :admin_pipeline, @project) && reset_cache_project_settings_ci_cd_path(@project) ,
  "has-gitlab-ci" => has_gitlab_ci?(@project).to_s } }
